Azure AD Admin Units Automation/Main Workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_admin_units_configuration": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables_1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Tables/@{encodeURIComponent('AdminUnitConfiguration')}/entities"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Loop_to_prepare_configuration_array": {
                "actions": {
                    "Skip_disabled_configuration": {
                        "actions": {
                            "Run_Admin_Unit_Worker_Workflow": {
                                "inputs": {
                                    "body": {
                                        "AUDisplayName": "@{items('Loop_to_prepare_configuration_array')?['AUDisplayName']}",
                                        "AdminUnitId": "@{item()?['RowKey']}",
                                        "GroupId": "@{items('Loop_to_prepare_configuration_array')?['GroupId']}"
                                    },
                                    "host": {
                                        "triggerName": "manual",
                                        "workflow": {
                                            "id": "/subscriptions/<subscriptionid>/resourceGroups/<resource_Group_ID>/providers/Microsoft.Logic/workflows/Automation-Worker"
                                        }
                                    }
                                },
                                "runAfter": {},
                                "type": "Workflow"
                            },
                            "Save_Logging_Array_to_Logs_table": {
                                "actions": {
                                    "Insert_log_entry_to_Logs_table": {
                                        "inputs": {
                                            "body": {
                                                "Action": "@{items('Save_Logging_Array_to_Logs_table')?['Action']}",
                                                "ErrorMessage": "@{items('Save_Logging_Array_to_Logs_table')?['ErrorMessage']}",
                                                "GroupId": "@{items('Save_Logging_Array_to_Logs_table')?['GroupId']}",
                                                "ObjectId": "@{items('Save_Logging_Array_to_Logs_table')?['objectid']}",
                                                "PartitionKey": "@{items('Loop_to_prepare_configuration_array')?['RowKey']}",
                                                "RowKey": "@{items('Save_Logging_Array_to_Logs_table')?['DateTime']}"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuretables_1']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/Tables/@{encodeURIComponent('Logs')}/entities"
                                        },
                                        "runAfter": {},
                                        "type": "ApiConnection"
                                    }
                                },
                                "foreach": "@body('Run_Admin_Unit_Worker_Workflow')",
                                "runAfter": {
                                    "Run_Admin_Unit_Worker_Workflow": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Foreach"
                            }
                        },
                        "description": "If Enabled is not true, don't enable automation for the AU",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@items('Loop_to_prepare_configuration_array')?['Enabled']",
                                        true
                                    ]
                                }
                            ]
                        },
                        "runAfter": {},
                        "type": "If"
                    }
                },
                "foreach": "@body('Get_admin_units_configuration')?['value']",
                "runAfter": {
                    "Get_admin_units_configuration": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 20
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuretables_1": {
                    "connectionId": "/subscriptions/<subscriptionid>/resourceGroups/<resource_Group_ID>/providers/Microsoft.Web/connections/azuretables-1",
                    "connectionName": "azuretables-1",
                    "id": "/subscriptions/<subscriptionid>/providers/Microsoft.Web/locations/westeurope/managedApis/azuretables"
                }
            }
        }
    }
}